body{
  background-color: #FBF6E7 !important;
}
.customNav{
  background: url(assets/react.svg);
}
.heroSection{
  background: url(assets/bg.png);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.leftDiv{
  /* width: 300px;  */
  /* fixed width */
  flex-shrink: 0;
  padding: 20px;
  position: sticky;
  top: 0; /* keeps it fixed in viewport */
  /* height: 100vh; */
   /* full height */
    flex: 0 0 50%;
  
  
}
.rightDiv {
    position: relative;
    /* width: 200px; */
    /* overflow: hidden; */
    /* height: 300px; */
    flex: 0 0 50%;
}

.customCard {
    position: sticky;
    top: 0; /* starts sticking at top */
    width: 100%;
    height: 350px; /* fixed height for each card */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px; /* spacing between cards */
    z-index: 10;
    background-color: #FBF6E7;
}
.quranicVerse{
  background: url(assets/bg.png),linear-gradient(to right, #06beb5c5, #48b1bfc9);
  height: 92vh;
}

.textBox{
  background: #c05727;
}
.divider{
  width: 1px;
  height: 200px;
  background-color: black;
  /* display: block; */
}
.bgDiv{
  background: url(assets/bg.png);
  height: 40vh;
  background-attachment: fixed ;

}

