@font-face {
  font-family: allura;
  src: url(assets/fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: cormorant;
  src: url(assets/fonts/CormorantGaramond-Regular.ttf);
}

body{
  background-color: #FBF6E7 !important;
  font-family: cormorant !important;
}
.subHeading{
  font-family: allura;
  font-size: 2.6rem;
}
.heading{
  font-size: 5rem;
}
.customNav{
  background: url(assets/925831ff856301f33b1ec660cc4ab92b.png);
  background-position: center;
}
.heroSection{
  /* background: url(assets/bg.png); */
   background-image: url(assets/gemini5.png);
  height: 92vh;
  /* background-position: center; */
  background-position: 0 100%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-attachment: fixed;
}
.leftDiv{
  /* width: 300px;  */
  /* fixed width */
  flex-shrink: 0;
  padding: 20px;
  position: sticky;
  top: 0; /* keeps it fixed in viewport */
  /* height: 100vh; */
   /* full height */
    flex: 0 0 50%;  
}
.leftDiv h1{
  font-size: 4rem;
}
.leftDiv h3{
  font-family: allura;
}
.rightDiv {
    position: relative;
    /* width: 200px; */
    /* overflow: hidden; */
    /* height: 300px; */
    flex: 0 0 50%;
}
.rightDiv p{
  font-size: 1.3rem;
}
.rightDiv{
  width: 100%;
}
@media (min-width: 900px) {
  
}

.customCard {
    position: sticky;
    top: 0; /* starts sticking at top */
    width: 100%;
    height: 450px; /* fixed height for each card */
    /* border: 1px solid #ccc; */
    border-radius: 0;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px; /* spacing between cards */
    z-index: 10;
    background-color: #FBF6E7;
    /* box-shadow: 0 10px 30px rgba(120, 100, 80, 0.12); */
    box-shadow: 0 8px 25px rgba(255, 215, 130, 0.158);
    border: 1px solid rgba(255, 215, 130, 0.212);

}
.quranicVerse{
  background: url(assets/verseBg.jpg),linear-gradient(to right, #1a1d1dc5, #48b1bfc9);
  height: 90vh;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: 100% 100%; */
  /* background-position: center; */
  backface-visibility: 80%;
}

.textBox{
  /* background: #c05727; */
  background: #FBF8F1;
}
.divider{
  width: 1px;
  height: 200px;
  background-color: black;
  /* display: block; */
}
.bgDiv{
  background: url(assets/flowercta.png) ,linear-gradient(to right, #FFF1A8, #FFF1A8); 
  height: 40vh;
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;

}
@media (min-width: 599px) {
  .bgDiv{
  height: 70vh;

  }
}
.ctaSection{
  background-color: #FFF1A8;
  


}
.ctaSection h6{
  font-family: allura;
  font-size: 4rem;
}
.ctaSection .btn{
  text-transform: capitalize;
  /* font-size: 1.1rem; */
  font-family: sans-serif;
  color: #FFFfff;
  width: 60%;
  border-radius: 0;
  padding: .9rem;
  margin-bottom: 1rem;
}
.ctaSection .btn:nth-child(2){
  background-color: #c4748b;

}
.ctaSection .btn:nth-child(3){
  background-color: #7F9C8D;
}
.ctaSection .btn:nth-child(2):hover{
  background-color: #aa6578 !important;
  color: #FFFfff !important;
}
.ctaSection .btn:nth-child(3):hover{
  background-color: #6c8679;
  color: #FFFfff;
}
.counterSection{
  background: url(./assets/bg2.png);
  background-position: bottom right;
  /* background-position: 80% 0; */
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
@media(min-width:900px){
  .counterSection{
    background-attachment: scroll;
    background-size: contain;

  }
  .ctaSection .btn{
  width: 30%;

  }
}

.footer{
  background: #c4748b;
  color: #050505;
}



