@font-face {
  font-family: allura;
  src: url(assets/fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: cormorant;
  src: url(assets/fonts/CormorantGaramond-Regular.ttf);
}

body{
  background-color: #FBF6E7 !important;
  font-family: cormorant !important;
}
.subHeading{
  font-family: allura;
  font-size: 2.6rem;
}
.heading{
  font-size: 5rem;
}
.customNav{
  background: url(assets/925831ff856301f33b1ec660cc4ab92b.png);
  background-position: center;
}
.heroSection{
  background: url(assets/bg.png);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.leftDiv{
  /* width: 300px;  */
  /* fixed width */
  flex-shrink: 0;
  padding: 20px;
  position: sticky;
  top: 0; /* keeps it fixed in viewport */
  /* height: 100vh; */
   /* full height */
    flex: 0 0 50%;
  
  
}
.rightDiv {
    position: relative;
    /* width: 200px; */
    /* overflow: hidden; */
    /* height: 300px; */
    flex: 0 0 50%;
}

.customCard {
    position: sticky;
    top: 0; /* starts sticking at top */
    width: 100%;
    height: 350px; /* fixed height for each card */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px; /* spacing between cards */
    z-index: 10;
    background-color: #FBF6E7;
}
.quranicVerse{
  background: url(assets/verseBg.jpg),linear-gradient(to right, #1a1d1dc5, #48b1bfc9);
  height: 90vh;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: 100% 100%; */
  /* background-position: center; */
  backface-visibility: 80%;
}

.textBox{
  background: #c05727;
}
.divider{
  width: 1px;
  height: 200px;
  background-color: black;
  /* display: block; */
}
.bgDiv{
  background: url(assets/flowercta.png) ,linear-gradient(to right, #651812, #651812); 
  height: 70vh;
  /* background-attachment: fixed ; */
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;

}
.ctaSection{
  background-color: #651812;
  


}
.counterSection{
  background: url(./assets/bg2.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}


